<% layout('layouts/boilerplate') %>


    <h1><%= campground.title %></h1>
    

    <h4>Price : <%= campground.price %></h4>
    <h4>location : <%= campground.location %></h4>
    <img src="<%= campground.image %>">
    <p><%= campground.description %></p>

    <a class="btn btn-info" href="/campgrounds/<%= campground._id %>/edit">Edit campground</a>
    <form class="d-inline" action="/campgrounds/<%= campground._id %>/?_method=DELETE" method="POST">
        <button class="btn btn-danger">DELETE Campground</button>
    </form>
    <footer><a class="btn btn-success" href="/campgrounds">All campgrounds</a></footer>
